<h3>Add Room</h3>

<form action="/add" method="post" class="col-md-6">
    <div class="form-group">
        <label for="name">Room Name:</label>
        <input name="name" type="text" class="form-control" autocomplete="off">
    </div>
    <button class="btn btn-primary">Add</button>
</form>

{{#if room}}
    <div class="modal show" id="modaldiag">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Room Added</h3>
                </div>
                <div class="modal-body">
                    <h3>Room: <b>{{room}}</b></h3>
                </div>
                <div class="modal-footer">
                    <button id="closebtn" type="button" class="btn btn-primary" data-dismiss="modal">Ok, Thanks!</button>
                </div>
            </div>
        </div>
    </div>
{{/if}}

<script>
    $('#closebtn').on('click', function() {
        $('#modaldiag').removeClass('show');
    });
</script>