<div class="row">
    <div class="col-md-4">
        <h3>Something</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quod nesciunt aut quos in, saepe amet assumenda, id cumque aspernatur blanditiis fugit. Temporibus reiciendis dolore est minus, veritatis aperiam architecto?</p>
        <a href="/add" class="btn btn-default">Add Room</a>
    </div>
    <div class="col-md-4">
        <h3>Something</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quod nesciunt aut quos in, saepe amet assumenda, id cumque aspernatur blanditiis fugit. Temporibus reiciendis dolore est minus, veritatis aperiam architecto?</p>
    </div>
    <div class="col-md-4">
        <h3>Something</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quod nesciunt aut quos in, saepe amet assumenda, id cumque aspernatur blanditiis fugit. Temporibus reiciendis dolore est minus, veritatis aperiam architecto?</p>
    </div>
</div>