<div class="jumbotron">
    <h1>Void Room v1.0</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h5>Accounts</h5>
        <ul>
            <li>Create</li>
            <li>Modify</li>
        </ul>
    </div>
</div>