<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/site.css" />
    <title>Void Room v1.0 - {{title}}</title>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Void Room v1.0</h1>
            <h3>Created by: Shane Pudner</h3>
        </div>
        {{{body}}}
    </div>
</body>
<footer>
    <span>(c) Copyright 2017 by Shane Pudner. All rights reserved.</span>
    <span style="float: right;"><a href="#">Contact</a></span>
</footer>
</html>